<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="{{ url_for('static',
filename='style_donate_food.css')}}">
    <!--<script type = "text/javascript"-->
    <!--         src = "{{ url_for('static', filename = 'scripts.js') }}" ></script>-->
</head>
<body>
<div class="header">
    <a class="logo">foodfundr</a>
    <div class="header-right">
        <a  href=/>Community Fridge</a>
        <a href=donate_food class="active">Donate Food</a>
    </div>
</div>

<div class="container">
    <form action="/address" method="POST">
        <label for="addy">Street Address</label>
        <input type="text" id="addy" name="address" placeholder="Street address..">

        <label for="cty">City</label>
        <input type="text" id="cty" name="city" placeholder="City..">
        <label for="st">Select your State:</label>
        <select name="states" id="st">
            <option value="nj">New Jersey</option>
            <option value="co">Colorado</option>
            <option value="ga">Georgia</option>
        </select>

        <input type="submit" name = "form" value="Submit">
    </form>
</div>

<div class="table">
    <h1>Hello nerds {dean:}</h1>
</div>
</body>
</html>